@tailwind base;
@tailwind components;
@tailwind utilities;

.login-pf body {
    background: hsl(var(--background));
}

@layer base {
    :root {
        --background: 0 0% 100%; /* 기본 배경색 white */
        --foreground: 222.2 84% 4.9%;

        --primary: 224, 45%, 11%;
        --primary-foreground: 210 40% 98%;

        --secondary: 220, 14%, 96%; /* gray-100 */
        --secondary-hover: 220, 13%, 91%; /* gray-200 */
        --secondary-foreground: 0, 0%, 15%; /* neutral-800 */

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
    }
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }
}
